.ordering {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.form-container,
.order-container {
  width: 40%;
  padding: 15px;
  border: 2px solid rgba(211, 211, 211, 0.5);
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.2);
}

.form-container {
  display: grid;

  select,
  input,
  textarea {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
  }
}

.order-container {
  height: 50%;

  .little-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;

    .color-grey {
      color: grey;
    }

    h4 {
      margin: 0;
    }

    span {
      font-size: small;
    }

    img {
      width: 90px;
      height: 50px;
    }
  }

  .color-green {
    color: green;
  }
}

.to-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 15px 0;
  }
}
.price {
  font-size: 20px;
  color: #f64200;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  &:hover {
    background-color: black;
    color: white;
  }
}

.color-green {
  color: lightgreen;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  div.wrapper {
    width: 640px;
  }

  .ordering {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    order: 1;
  }

  .form-container,
  .order-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
