.grid-two-col {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));

  align-items: start;

  .product-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    gap: 15px;
    margin: 0;
    padding: 20px;

    .big-picture {
      grid-row: span 3;
      grid-column: span 3;
      width: 550px;
      height: 550px;
    }

    .small-picture {
      width: 150px;
      height: 150px;
    }
  }

  .product-description {
    color: black;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td {
      padding: 5px;
      padding-right: 50px;
    }

    td:nth-child(odd) {
      font-weight: bold;
    }

    tr:nth-child(odd) {
      background-color: whitesmoke;
    }

    tr:nth-child(even) {
      background: lightgrey;
    }
  }
  .price {
    font-size: 20px;
    color: #f64200;
  }

  .btn {
    display: inline-block;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container .grid-two-col {
    display: grid;
    grid-template-columns: unset;
  }
}

@media screen and (max-width: 640px) {
  .container .grid-two-col {
    display: grid;
    grid-template-columns: unset;
  }

  div.wrapper {
    width: 640px;
  }
}
